.salaryForm {
  max-width: 190px;
}

.reportTotal {
  background-color: darkgray;
}

.text-big {
  font-weight: bold;
  font-size: 16pt;
}

.chart-container {
  position: relative;
  margin: auto;
  width:2000px;
}
