.reportTotal {
  background-color: darkgray;
}

.input-control-money {
  width: 120px
}

.input-control-percent {
  width: 100px
}

.input-control-age {
  width: 90px
}

.no-wrap {
  white-space: nowrap;
}

.text-big {
  font-weight: bold;
  font-size: 16pt;
}

.chart-container {
  position: relative;
  width:90vw;
  min-width: 1000px;
}


