.reportTotal {
  background-color: darkgray;
}

.input-control-money {
  width: 120px
}

.input-control-percent {
  width: 100px
}

.input-control-age {
  width: 90px
}

.centerAlign {
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.text-big {
  font-weight: bold;
  font-size: 16pt;
}

.chart-container {
  position: relative;
  width:90vw;
  min-width: 1000px;
}

.initial-explainer {
  max-width: 750px;
}

.max-width-115 {
  max-width: 115px;
}

.date-picker {
  max-width: 110px;
}

.max-width-30 {
  max-width: 30px;
}


